name: ci
on:
  push:
    branches:
      - "**"

defaults:
  run:
    shell: bash

concurrency: ci-${{ github.ref }}-${{ github.workflow }}

jobs:
  test:
    uses: ./.github/workflows/tests.yml
    permissions:
      actions: read
      id-token: write
      contents: read
      deployments: write
  verify:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: "mise - install tools"
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          version: 2025.10.18
          install: true # run mise install
          cache: true

      - name: python - install python
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version-file: "pyproject.toml"

      - name: python - setup venv and install deps
        run: uv sync --locked --all-extras --dev

      - name: lint workflows
        run: make lint-workflows

      - name: lint shellscripts
        run: make lint-shell

      - name: lint docs
        run: make lint-docs

  conditional-release:
    needs:
      - verify
      - test
    runs-on: ubuntu-24.04
    if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: ".node-version"
      - name: "install npm dependencies"
        run: npm ci
      - name: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run semantic-release
