name: ci
on:
  push:
    branches:
      - "**"

defaults:
  run:
    shell: bash

concurrency: ci-${{ github.ref }}-${{ github.workflow }}

jobs:
  test:
    uses: ./.github/workflows/tests.yml
    permissions:
      actions: read
      id-token: write
      contents: read
      deployments: write
  verify:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: "mise - install tools"
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          version: 2025.12.11
          install: true # run mise install
          cache: true

      - name: python - install python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: "pyproject.toml"

      - name: python - setup venv and install deps
        run: uv sync --locked --all-extras --dev

      - name: lint workflows
        run: make lint-workflows

      - name: lint shellscripts
        run: make lint-shell

      - name: lint docs
        run: make lint-docs

  conditional-release:
    needs:
      - verify
      - test
    runs-on: ubuntu-24.04
    if: ${{ github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    permissions:
      contents: write
      issues: write
      pull-requests: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: ".node-version"
      - name: "install npm dependencies"
        run: npm ci
      - name: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run semantic-release
